{% extends 'usuarios/base.html' %}
{% block conteudo %}
<div class="container">
    <h1 style="margin: 25px;">Usuários Cadastrados:</h1>
    <table class="table table-borded table-striped">
        <tr>
            <th>nome</th>
            <th>idade</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.idade}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div style="text-align: center;" class="container">
    <a href="{% url 'home' %}">
      <tbuton style="margin: 50px;" class="btn btn-outline-dark form-control-sm">Voltar</tbuton>
    </a>
  </div>
{% endblock %}